html {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.mt_6 {
    margin-top: 2rem;
} 

.py_6 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.pt_6 {
    padding-top: 5rem;
}

.btn {
    border: 2px solid transparent;
}

/* Black row fixed top */

.top_logo {
    background: black;
    line-height: 2rem;

}

.top_logo img {
    height: 1rem;
}

h1 {
    font-size: 3rem;
}

.btn-primary:hover {
    box-shadow: 0 0 5px 5px #0d6efd;
    border: 2px solid white;
}

.btn-dark:hover {
    box-shadow: 0 0 5px 5px #212529;
    border: 2px solid white;
}

.btn-danger:hover {
    box-shadow: 0 0 5px 5px #dc3545;
    border: 2px solid white;
}

.ps_plus_btn:hover {
    box-shadow: 0 0 5px 5px #F8F9FA;
    border: 2px solid #BEBCBB;
}

.ps_now_btn:hover {
    box-shadow: 0 0 5px 5px #F8F9FA;
    border: 2px solid #161C3B;
}


/* Navbar */

nav ul .fa-angle-up {
    display: none;
}

nav ul li a:focus .fa-angle-up {
    display: inline-block;
}

nav ul li a:focus .fa-angle-down {
    display: none;
}  

nav .lens img {
    height: 1.5rem;
}

nav .fa-circle {
    font-size: 7px;
    margin-right: 5px;
    vertical-align: middle;
}


/* MAIN */

/* Section 1 */

.sec1 {
    margin-top: 100px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    color: white;
    padding-top: 15rem;
}

.sec1 .returnal_logo {
    height: 3rem;
}


/* Section 2 */

.sec2 img {
    width: 100%;
    border-radius: 20px;
    position: relative;
}

.sec2 a:hover img {
    box-shadow: 0 0 5px 5px blue;
    animation: move 2s linear infinite;
}

@keyframes move {
    0% {
        bottom: 0;
    }
    25% {
        bottom: .5rem;
    }    
    50% {
        bottom: 1rem;
    }
    75% {
        bottom: .5rem;
    }
    100% {
        bottom: 0rem;
    }

}


/* Section 3 */

.sec3 .blue_text {
    color: rgb(0, 114, 206);
}


/* Section 4 */

.sec4 .big_img img {
    width: 100%;
}

.sec4 .small_img img {
    width: 100%;
}

.sec4 .ps5_accessories .col {
    opacity: .75;
    border-bottom: 2px solid transparent;
}

.sec4 .ps5_accessories .col a {
    text-decoration: none;
    color: black;
}

.sec4 .ps5_accessories .col:hover {
    opacity: 1;
    border-bottom: 2px solid blue;
}


/* Section 5 */

.sec5 {
    color: white;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}

.sec5 .container img {
    height: 10rem;    
}


/* Section 6 */

.sec6 {
    color: white;
    background: black;
}

.sec6 .col a {
    text-decoration: none;
    color: white;
}

.sec6 .col a img {
    width: 100%;
    border-radius: 25px;
}


/* Section 7 */

.sec7 h1 {
    font-size: 2.5rem;
}

.sec7 img {
    width: 100%;
}


/* Section 8 */

.sec8 {
    background: #BEBCBB;
}

.sec8 .logo_ps_plus {
    height: 4rem ;
}

.sec8 button {
    background-color: rgba(255, 255, 255, 0.522);
    border: 1px solid transparent;
    color: #2D64E6;
}


/* Section 9 */

.sec9 img {
    width: 100%;
}


/* Section 10 */

.sec10 {
    background: #161C3B;
    color: white;
}

.sec10 .logo_ps_now {
    height: 4rem ;
}

.sec10 button {
    background-color: white;
    border: 1px solid transparent;
    color: black;
}


/* Section 11 */

.sec11 img {
    width: 100%;
    border-radius: 25px;
}


/* Footer */

footer {
    background: #00439C;
    color: white;
}

footer .col {
    position: relative;
}

footer .ps_logo {
    height: 10rem ;
    margin-left: -1rem;
}

footer .down_reg {
    font-size: 18px;
    color: white;
    position: absolute;
    bottom: 1.5rem;
    left: 9rem;
}

footer .globe {
    height: 1rem;
    margin-right: .5rem;
}

footer ul {
    list-style: none;
    line-height: 2rem;    
}

footer a {
    text-decoration: none;
    color: white;
}


/* Footer - Copyright */

footer .copyright img {
    height: 3rem;
}

footer .copyright a {
    color: white;
}

footer .footer_links a:hover {
    color: white;
    text-decoration: underline;
}