/* Black row fixed top */

.top_logo {
    background: black;
    line-height: 2rem;

}

.top_logo img {
    height: 1rem;
}

/* Navbar */

.mt_6 {
    margin-top: 2rem;
} 

nav ul .fa-angle-up {
    display: none;
}

nav ul li a:focus .fa-angle-up {
    display: inline-block;
}

nav ul li a:focus .fa-angle-down {
    display: none;
}

nav form .lens {
    line-height: 2rem;
    margin-left: 1.5rem;
}    

nav form .lens img {
    height: 1.5rem;
}