html {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.mt_6 {
    margin-top: 2rem;
} 

.py_6 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.pt_6 {
    padding-top: 5rem;
}

/* Black row fixed top */

.top_logo {
    background: black;
    line-height: 2rem;

}

.top_logo img {
    height: 1rem;
}

h1 {
    font-size: 3rem;
}

/* Navbar */

nav ul .fa-angle-up {
    display: none;
}

nav ul li a:focus .fa-angle-up {
    display: inline-block;
}

nav ul li a:focus .fa-angle-down {
    display: none;
}

nav form .lens {
    line-height: 2rem;
    margin-left: 1.5rem;
}    

nav form .lens img {
    height: 1.5rem;
}


/* MAIN */

/* Section 1 */

.sec1 {
    margin-top: 100px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    color: white;
    padding-top: 15rem;
}

.sec1 .returnal_logo {
    height: 3.5rem;
}



/* Section 2 */

.sec2 img {
    width: 100%;
    border-radius: 20px;
}


/* Section 3 */

.sec3 .blue_text {
    color: rgb(0, 114, 206);
}


/* Section 4 */

.sec4 .big_img img {
    width: 100%;
}

.sec4 .small_img img {
    width: 100%;
}

.sec4 .ps5_accessories .col {
    opacity: .75;
}

.sec4 .ps5_accessories .col a {
    text-decoration: none;
    color: black;
}

.sec4 .ps5_accessories .col:active {
    opacity: 1;
    border-bottom: 1px solid blue;
}